.flex-container
{
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    background-color: rgb(34, 34, 34);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.nav-bar,.project-links,.body-text,.external-links,title{color: white; font-family: "Pixelify Sans", sans-serif; }

.column
{
    float: left;
    width: 33.33%;
}
/*.project-links
{
    float: left;
    width: 30%;
}
.body-text
{
    float: left;
    width: 30%;
}
.external-links
{
    float: right;
    width: 30%;
}*/
.nav-bar
{
    overflow: hidden;
    background-color: black;
}
.nav-bar a
{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}
p:hover{
    text-decoration: underline green;
    text-decoration-thickness: 5px;
}
a:link
{
    color: bisque;
}
a:visited
{
    color: green;
}
img
{
    border: 1px solid white;
    border-radius: 5px;
}

img:hover
{
    border: 3px solid green;
    border-radius: 10px;
}

a:hover
{
    color: rgb(173, 201, 176);
}

body{background-color: black; }

@media screen and (min-width: 480px) and (max-width: 480px){
  .flex-container{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
  }
  .column
  {
    float: left;
    width:100%;
  }

    
}